<h2>Edit book</h2>
<%= form_with model:@book, local:true do |f| %>
<!--updateアクションはどこで呼び出されている？-->
    <div class="field">
        <label for="book_title">Title</label>
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <label for="book_body">Body</label>
        <text_area class="book_body" name="book[body]" id="book_body"></text_area>
        <%= f.text_area :body %>
    </div>

    <%= f.submit 'Update Book' %>
<% end %>

<%= link_to "show", book_path(@book) %>
<%= link_to "back", books_path(@book) %>